#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

.title-container{
    height: 16rem;
    text-align: center;
    margin-bottom: 1.6rem;
}

.title-container h1{
    font-weight: 1000;
    font-size: 8rem;
    line-height: 4.2rem;
}

.title-container h2{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3.6rem;
    margin-top: 0.8rem;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;

    margin-bottom: 0.8rem;
}

.buttons-container a.study {
    background: var(--color-secundary);
}

.buttons-container a.give-classes {
    background: var(--color-secundary);
}

.buttons-container a.study:hover {
    background: var(--color-secundary-dark);
}

.buttons-container a.give-classes:hover {
    background: var(--color-secundary-dark);
}

.total-connections {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}